@import "../../utils.scss";

.frame {
    @include flexbox();

    .content {
        @include flexbox(row);
        gap: 1rem;
        padding: 8px;

        .part {
            @include flexbox();
        }
    }

    .bottom {
        @include flexbox(column);
    }
}
