@mixin nodeBorder() {
    .react-flow__node {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        font-size: 12px;
        width: 200px;
    }

    .handle {
        position: relative;
        top: 15px;
    }
}

@mixin node() {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    padding: 0.4rem;
    gap: 0.4rem;
}

@mixin label() {
    .label {
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }
}

@mixin statement() {
    .statement {
        font-size: 12px;
    }
}

@mixin expression() {
    .statement {
        font-size: 12px;
    }
}

@mixin description() {
    .description {
        font-style: italic;
    }
}
