@import "../../utils";

$height: 26px;

.item {
    @include flexbox(row, false);
    height: $height;
    min-height: $height;
    max-height: $height;
    align-items: center;
    gap: 12px;
    overflow: hidden;

    .message-content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .message-date {
        white-space: nowrap;
    }
}
