@import "../utils.scss";

.frame-box {
    @include flexbox();
    width: 100%;
    overflow: hidden;
}

.tab-panel:not([hidden]) {
    @include flexbox();
    overflow: hidden;
}

.message-board-box {
    max-height: 200px;
    overflow: hidden;
}

@media only screen and (min-height: 600px) {
    .message-board-box {
        max-height: 180px;
    }
}

@media only screen and (min-height: 700px) {
    .message-board-box {
        max-height: 220px;
    }
}

@media only screen and (min-height: 900px) {
    .message-board-box {
        max-height: 260px;
    }
}
