@import "../../utils";

.warning-box {
    @include flexbox(row, false);
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0 0.4rem;
}
