@import "../../../utils.scss";

.panel {
    @include flexbox();
    gap: 0.6rem;
    overflow: auto;
    padding: 0.1rem;

    .panel-block {
        @include flexbox(column, false);
        padding: 0.4rem;
        gap: 0.2rem;
        position: relative;

        .expand {
            position: absolute;
            right: 4px;
            top: 4px;
        }

        .block-title {
            margin-bottom: 0.2rem;
        }
    }
}
