@import "../../../utils.scss";

.panel {
    @include flexbox();
    gap: 1rem;

    .panel-block {
        @include flexbox(column, false);
        padding: 0.4rem;
        gap: 0.2rem;

        .block-title {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 0.2rem;
        }

        .definition-row {
            border: 1px solid lightgray;
            padding: 0.2rem;
            border-radius: 4px;
        }
    }
}
