#decisionTable {
    border-collapse: collapse;

    th,
    td {
        padding: 0.2rem;
        border: 1px solid black;
        text-align: center;

        &.left {
            text-align: left;
        }
    }
}

.table-frame {
    padding: 0.4rem;
}
